<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="keywords" content="{{ site.keyword }}" />
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}" />

    <!-- Open Graph -->
    <meta property="og:title"
        content="{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}" />
    {% case page.layout %}
    {% when 'post' %}
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ page.excerpt | strip_html | truncate:200 }}" />
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date: " %Y-%m-%dT%H:%M:%SZ" }}" />
    {% endif %}
    {% if page.author %}
    <meta property="article:author" content="{{ page.author }}" />
    {% endif %}
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
    {% else %}
    <meta property="og:type" content="website" />
    <meta property="og:description"
        content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    {% endcase %}
    <meta property="og:image" content="{{ site.url }}{{ site.sidebar-avatar }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.SEOTitle }}" />

    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/pwa/manifest.json">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}{{ site.favicon }}">
    <!-- search -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ " /min.css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ " /min.css/hux-blog.min.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->

    <!-- Lbx change font-awesome CDN to qiniu -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
        type="text/css">



<!-- things below are moved from footer.html - by Lotus Moon 2026.8.15 -->

<!-- Global scripts -->
    
    <!-- lazyload -->
    <script async src='{{ " /min.js/lazysizes.min.js " | prepend: site.baseurl }}'></script>

    <!-- busuanzi -->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

    <!-- Baidu Tongji -->
    {% if site.ba_track_id %}
    <script async src="//hm.baidu.com/hm.js?{{ site.ba_track_id }}"></script>
    <script>
        var _hmt = _hmt || []
    </script>
    {% endif %}


    <!-- add "defer" to optimise the loading of scripts and code appearance - by Lotus Moon 2026.8.15 -->

    <!-- jQuery -->
    <script defer src='{{ " /min.js/jquery.min.js " | prepend: site.baseurl }}'></script>

    <!-- Bootstrap Core JavaScript -->
    <!-- Currently, only navbar scroll-down effect at desktop still depends on this -->
    <script defer src='{{ " /min.js/bootstrap.min.js " | prepend: site.baseurl }}'></script>

    <!-- Custom Theme JavaScript -->
    <script defer src='{{ " /min.js/hux-blog.min.js " | prepend: site.baseurl }}'></script>

    <!-- Simple Jekyll Search -->
    <script defer src='{{ " /min.js/simple-jekyll-search.min.js" | prepend: site.baseurl }}'></script>

    <!-- Service Worker -->
    {% if site.service-worker %}
    <script defer src='{{ " /min.js/snackbar.min.js " | prepend: site.baseurl }}'></script>
    <script defer src='{{ " /min.js/sw-registration.min.js " | prepend: site.baseurl }}'></script>
    {% endif %}

    {% if page.plchart %}
    <script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px'
        }

        document.addEventListener('DOMContentLoaded', function () {
            var $chart = document.querySelector("#chart")
            if ($chart) { // 防御：页面没有#chart时不报错
                $chart.onload = function () {
                    resizeIframe($chart)
                }
                window.addEventListener("resize", () => {
                    resizeIframe($chart)
                })
            }
        })
    </script>
    {% endif %}


    {% if page.title == 'Archive' %}
    <!-- jquery.tagcloud.js -->
    <script defer src='{{ "/min.js/jquery.tagcloud.min.js" | prepend: site.baseurl }}'></script>
    <script>
        document.addEventListener('DOMContentLoaded',function(){
            $.fn.tagcloud.defaults = {
            // size: {start: 14, end: 18, unit: "pt"},
            color: { start: '#D1D8FA', end: '#2F3D76' },
            }
            $('#tag_cloud a').tagcloud()
        })
    </script>
    <script defer src='{{ "/min.js/archive.min.js" | prepend: site.baseurl }}'></script>
    {% endif %}

    <!-- Side Catalog -->
    {% unless page.no-catalog %}
    <script>
    document.addEventListener('DOMContentLoaded',function(){function generateCatalog(selector) {
        // interop with multilangual 
        if ('{{ page.multilingual }}' == 'true') {
        _containerSelector = 'div.post-container.active'
        } else {
        _containerSelector = 'div.post-container'
        }

        // init
        var P = $(_containerSelector), a, n, t, l, i, c
        a = P.find('h1,h2,h3,h4,h5,h6')

        // clean
        $(selector).html('')

        // appending
        a.each(function () {
        n = $(this).prop('tagName').toLowerCase()
        i = "#" + $(this).prop('id')
        t = $(this).text()
        c = $('<a href="' + i + '" rel="nofollow">' + t + '</a>')
        l = $('<li class="' + n + '_nav"></li>').append(c)
        $(selector).append(l)
        })
        return true
        }

        generateCatalog(".catalog-body")

        // toggle side catalog
        $(".catalog-toggle").click((function (e) {
            e.preventDefault()
            $('.side-catalog').toggleClass("fold")
        }))
    })
    </script>
    <script defer src='{{ "/min.js/jquery.nav.min.js" | prepend: site.baseurl }}'></script>
    <!-- Doc: https://github.com/davist11/jQuery-One-Page-Nav
    Fork by Hux to support padding -->
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        $('.catalog-body').onePageNav({
        currentClass: "active",
        changeHash: !1,
        easing: "swing",
        filter: "",
        scrollSpeed: 700,
        scrollOffset: 0,
        scrollThreshold: .2,
        begin: null,
        end: null,
        scrollChange: null,
        padding: 80
        })
    })
    </script>
    {% endunless %}

    <!-- Multi-Lingual -->
    {% if page.multilingual %}
    <!-- Handle Language Change -->
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        // get nodes
        var $zh = document.querySelector(".zh")
        var $en = document.querySelector(".en")
        var $select = document.querySelector("select")

        // Changes at v1.8.1: include lang flag as a url query. This interop well with catalog hash anchors.
        function getLang() { return new URLSearchParams(document.location.search).get("lang") }

        function setLang(newLang) {
            var params = new URLSearchParams(document.location.search)
            params.set("lang", newLang)
            document.location.search = params.toString()  // refresh.
        }

        // handle render
        function _render() {
            var lang = getLang()
            // en
            if (lang == "en") {
            $select.selectedIndex = 1
            $en.style.display = "block"
            $en.classList.add("active")
            $zh.style.display = "none"
            $zh.classList.remove("active")
            // default to zh-cn
            } else {
            $select.selectedIndex = 0
            $zh.style.display = "block"
            $zh.classList.add("active")
            $en.style.display = "none"
            $en.classList.remove("active")
            }
            // interop with catalog 
            generateCatalog(".catalog-body")
        }

        // handle select change
        window.onLanChange = function (index) {
        if (index == 0) {
            lang = "zh"
        } else {
            lang = "en"
        }
        setLang(lang)
    }

        // init
        if ($zh && $en && $select) {
        _render()
    }
    })
    </script>
    {% endif %}

    <!-- Simple Jekyll Search -->
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        function htmlDecode(input) {
            var e = document.createElement('textarea')
            e.innerHTML = input
            // handle case of empty input
            return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue
        }

        SimpleJekyllSearch({
            searchInput: document.getElementById('search-input'),
            resultsContainer: document.getElementById('search-results'),
            json: '/search.json',
            searchResultTemplate: '<div class="post-preview item"><a href="{url}"><h2 class="post-title">{title}</h2><h3 class="post-subtitle">{subtitle}</h3><hr></a></div>',
            noResultsText: 'No results',
            limit: 50,
            fuzzy: false,
            // a hack to get escaped subtitle unescaped. for some reason, 
            // post.subtitle w/o escape filter nuke entire search.
            templateMiddleware: function (prop, value, template) {
            if (prop === 'subtitle' || prop === 'title') {
                if (value.indexOf("code")) {
                return htmlDecode(value)
                } else {
                return value
                }
            }
            }
        })

        $(document).ready(function () {
            var $searchPage = $('.search-page')
            var $searchOpen = $('.search-icon')
            var $searchClose = $('.search-icon-close')
            var $searchInput = $('#search-input')
            var $body = $('body')

            $searchOpen.on('click', function (e) {
            e.preventDefault()
            $searchPage.toggleClass('search-active')
            var prevClasses = $body.attr('class') || ''
            setTimeout(function () {
                $body.addClass('no-scroll')
            }, 400)

            if ($searchPage.hasClass('search-active')) {
                $searchClose.on('click', function (e) {
                e.preventDefault()
                $searchPage.removeClass('search-active')
                $body.attr('class', prevClasses)  // from closure 
                })
                $searchInput.focus()
            }
            })
        })
    })
    </script>

    <!-- Google AdSense -->
    <!-- <script data-ad-client="ca-pub-6487568398225121" async
        src="https://pagead2.googlesyndication.com/pagead/min.js/adsbygoogle.js"></script> -->
</head>
